/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

/* General configuration */

:root {
  /* Colors variables*/
  --color__background: #c4c4c4;
  --color--light: #f2f2f2;
  --color--dark: #1d1d1d;
  --color__primary: #800080;
  --color__primary--transparent: #80008034;

  /* Fonts variables*/
  --font__family: 'Source Code Pro', monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color__background);
  color: var(--color--dark);
  font-family: var(--font__family);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  font-size: 20px;
  line-height: 1.5;  
}

h1 {
  color: var(--color__primary);
  font-size: 50px;
  font-weight: 700;
  padding: 20px 0;
  text-align: center;
}

@media only screen and (max-width: 464px) {
  h1 {
    font-size: 33px;    
  }  
}

/* Buttons */
.btn {
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  margin: 5px 0;
  padding: 10px 14px;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  border: 1.5px solid var(--color__primary);  
  overflow-wrap: break-word;
}

.btn:hover {
  background-color: var(--color__primary--transparent);  
}

.btn:active,
.btn--full {
  background-color: var(--color__primary);
  color: var(--color--light);
}

.btn--full:hover {
  background-color: var(--color--light);
  border: 1.5px solid var(--color__primary);
  color: var(--color__primary);
  font-weight: 600;
} 

/* Start box */
input {
  border: 1.5px solid var(--color__primary);
  background-color: var(--color--light);
  border-radius: 4px;
  font-family: var(--font__family);
  font-size: 20px;
  padding: 8px 10px;
  margin: 15px 0;
  line-height: 1.5;
  width: 80%;
}

input:focus,
input:hover {
  background-color: var(--color__primary--transparent);
  border: 1.5px solid var(--color__primary);
  outline: none;
}

/* Quiz game box*/
.quiz__box {
  width: 900px;
  background: var(--color--light);
  padding: 10px 20px;
  border-radius: 8px;
  margin: 0 10px;  
  overflow: hidden;
  text-align: center;
}

/* Make the quiz fit all screen sizes */
@media only screen and (max-width: 950px) {
  .quiz__box {
    width: 95vw;    
  }  
}

/* Quiz header */
.quiz__header {
  padding: 10px 0;
}

.quiz__progress {
  padding: 5px 0;
  font-size: 18px;
  text-align: left;
}

.quiz__question {
  font-size: 25px;
  padding: 15px 0;
  text-align: left;
}

.quiz__options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Quiz footer */
.quiz__footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0;
}

.quiz__result {
  width: 250px;
  font-size: 18px;
  text-align: left;
  padding: 5px 0;
}

/* Ranking */
.ranking-list {
  margin: 20px;
}

.ranking-list li {
  list-style: none;
  padding: 10px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  text-transform: lowercase;
  max-width: 300px;
  margin: 0 auto;
}

/* Footer */
.credit {
  text-align: center;
  padding: 20px 10px;
  font-size: 16px;
}

.credit a {
  font-weight: 700;
  font-size: 18px;
  color: var(--color__primary);
  text-decoration: none;
}

/* Style manipulate by JavaScript */
#quiz {
  display: none;
}

#ranking-box {
  display: none;
}